@model IList<Notification>

@{
    ViewBag.Title = "Strona główna";
}

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Numer</th>
                <th>Zdarzenie</th>
                <th>Dzielnica</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var notification in Model)
            {
                <tr>
                    <td>@notification.NotificationNumber</td>
                    <td>@notification.Event</td>
                    <td>@notification.District</td>
                    <td>@Html.ActionLink("Szczegóły", "Details", "Home", new { number = notification.NotificationNumber }, null)</td>
                </tr>
            }
        </tbody>
    </table>
</div>